@font-face {
    font-family: "Satoshi Medium";
    src: url("../res/Fonts/OTF/Satoshi-Medium.otf");
}

@font-face {
    font-family: "Satoshi Regular";
    src: url("../res/Fonts/OTF/Satoshi-Regular.otf");
}

@font-face {
    font-family: "Satoshi Bold";
    src: url("../res/Fonts/OTF/Satoshi-Bold.otf");
}

:root {
    --data-color-primary: #ffffff;
    --data-color-secondary: #121117;
    --data-color-accent: #F59E00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Satoshi";
}
::selection{
    background-color: var(--data-color-accent);
    color: var(--data-color-primary);
}
.custom__cursor__inner {
    height: 7.5px;
    width: 7.5px;
    position: fixed;
    transform: translate(0px, 0px);
    background-color: var(--data-color-accent);
    border-radius: 50%;
    transition: height .3s cubic-bezier(0.46, 0.03, 0.52, 0.96), width .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    z-index: 5000;
    pointer-events: none;
}

.custom__cursor__outer {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--data-color-secondary);
    background-color: transparent;
    position: fixed;
    z-index: 5000;
    transform: translate(0px, 0px);
    pointer-events: none;
    opacity: 0.4;
}

.wrapper {
    max-width: 100%;
    width: 1300px;
    align-items: center;
    margin: 0em auto;
}
body {
    color: var(--data-color-secondary);
    overflow-x: hidden;
    cursor: none;
    font-family: "Satoshi Regular";
}
.logo {
    width: 52px;
    height: auto;
}

.primary-button {
    color: var(--data-color-primary);
    background-color: var(--data-color-accent);
    font-weight: 500;
}

.secondary-button {
    color: var(--data-color-accent);
    font-family: "Satoshi Medium";
    font-size: 18px;
}
.heroImg {
    width: 380px;
    height: auto;
}

#myImg {
    width: 220px;
    height: 220px;
}

.bullet-list {
    list-style: circle;
}
.icons{
    background-color: #FFE6B8;
}
// Typography

.big-title {
    font-size: 52px;
    line-height: 70px;
    font-family: "Satoshi Medium";
}

.title {
    font-size: 30px;
    font-family: "Satoshi Medium";
}

.subtitle {
    font-size: 18px;
    font-family: "Satoshi Regular";
}

.category {
    font-size: 16px;
    font-family: "Satoshi Bold";
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.case-study-cover {
    filter: grayscale(1);
    transition: 500ms all ease-out;
}

.case-study:hover {
    .case-study-cover {
        filter: grayscale(0);
    }
}

a {
    cursor: none;
}

// .bgImg{
//     position: absolute;
//     background-image: url("../images/bgImg2.jpg");
//     width: 100vw;
//     max-width: 100vw;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     height: 100vh;
//     object-fit: contain;
//     background-size: cover;
//     background-position: top center;
//     z-index: -99;
// }
@media only screen and (max-width: 930px) {
    .heroImg {
        width: 320px;
        height: auto;
    }

    .big-title {
        font-size: 42px;
        line-height: 56px;
        font-family: "Satoshi Medium";
    }
}

@media only screen and (max-width: 640px) {
    .big-title {
        font-size: 38px;
        line-height: 60px;
        font-family: "Satoshi Medium";
    }

    .footer-logo {
        display: none;
    }

    .custom__cursor__inner,
    .custom__cursor__outer {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .big-title {
        font-size: 26px;
        line-height: 40px;
        font-family: "Satoshi Medium";
    }

    .name {
        font-size: 16px;
    }
}