@font-face {
    font-family: "Satoshi";
    src: url("../res/Fonts/WEB/css/satoshi.css");
}

:root {
    --data-color-primary: #ffffff;
    --data-color-secondary: #121117;
    --data-color-accent: #2d00f7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Satoshi";
}

.wrapper {
    max-width: 100%;
    width: 1300px;
    align-items: center;
    margin: 0em auto
}
.container{
    margin: 1em;
}
body {
    color: var(--data-color-secondary);
    background-color: var(--data-color-primary);
    overflow-x: hidden;
    font-family: "Satoshi";
}

.logo {
    width: 52px;
    height: auto;
}

.primary-button{
    color: var(--data-color-primary);
    background-color: var(--data-color-accent);
}

.secondary-button{
    color: var(--data-color-accent);
    font-weight: 500;
}

.social-media{
    width: 24px;
}
// Typography

.name{
    font-size: 20px;
}
.big-title{
    font-size: 52px;
    line-height: 70px;
    font-weight: 600;
}

.title{
    font-size: 32px;
    font-weight: 500;
}

.subtitle{
    font-size: 20px;
    font-weight: 400;
}

.category{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

// .bgImg{
//     position: absolute;
//     background-image: url("../images/bgImg2.jpg");
//     width: 100vw;
//     max-width: 100vw;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     height: 100vh;
//     object-fit: contain;
//     background-size: cover;
//     background-position: top center;
//     z-index: -99;
// }