@import url("https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Poppins:wght@400;500;600&family=Questrial&family=Raleway:wght@400;500;700&display=swap");
:root {
  --data-color-primary: #ffffff;
  --data-color-secondary: #0A0547;
  --data-color-accent: #0057FF;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

.wrapper {
  width: 100%;
  background-color: var(--data-color-primary);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.navbar {
  margin: 2em;
}

.navbar-brand,
.nav-link {
  margin: 0 1.45em 0 0;
}

.logo {
  width: 64px;
  height: auto;
}

.firstSection {
  width: 100%;
  margin: 10em auto;
  text-align: center;
}

.welcome-text {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 34px;
  line-height: 52px;
  letter-spacing: 0.25px;
  margin: 1em 0;
  text-transform: capitalize;
}

.welcome-text span {
  font-family: 'Raleway';
  font-weight: 700;
}

.button {
  margin-top: 1em;
  border-radius: 6px;
  padding: 0.8em 1.8em;
  background-color: var(--data-color-accent);
  color: var(--data-color-primary);
}

.button span {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.url {
  text-decoration: none;
}

.url span {
  margin-left: 0.6em;
}

.url:hover {
  color: var(--data-color-primary);
}

.caseStudySection {
  width: 100%;
}

.caseStudyEnlarge {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  justify-items: center;
  margin: 0em auto;
}

.caseStudyEnlarge img {
  margin: 2em auto;
  width: 80%;
}

.caseStudySmall {
  display: none;
}

.caseStudyInfo {
  margin: 15px 0 0 10px;
  text-align: left;
}

.title {
  font-family: 'Poppins';
  color: var(--data-color-secondary);
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.15px;
}

.subtitle {
  font-family: 'Poppins';
  color: var(--data-color-secondary);
  font-weight: 200;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.5px;
  opacity: 0.6;
}

.readmore {
  font-family: 'Poppins';
  color: var(--data-color-accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.25px;
}

.readmore img {
  width: 20px;
}

.contactSection {
  width: 80%;
  height: auto;
  padding: 0.6em 0 2em 0;
  margin: 2em auto;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(94.67deg, #0057FF 0.16%, #0A3FA6 100%);
}

.contactContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 1em;
}

.contactContent p {
  width: 70%;
  font-family: 'Poppins';
  margin: 1.6em;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 39px;
  letter-spacing: 0.5px;
  color: var(--data-color-primary);
}

.contactContent p a {
  text-decoration: underline;
  color: var(--data-color-primary);
}

.contactContent .author {
  font-family: 'Over the Rainbow', cursive;
  font-size: 24px;
}

.contactContent .mail {
  opacity: 0.6;
  letter-spacing: 0.85px;
  font-size: 15px;
}

.contactContent .url {
  margin: 1em 1em 1em 0em;
}

footer {
  width: 100%;
  padding: 1.5em 0 0.5em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #ECF0F6;
  text-align: center;
}

footer p {
  color: #878787;
}

@media only screen and (max-width: 700px) {
  .navbar {
    margin: 0.4em;
  }
  footer p {
    color: #878787;
    font-size: 12px;
  }
  .button {
    padding: 0.45em 0.85em;
  }
  .button span {
    font-size: 10px;
  }
  .firstSection {
    margin: 4em auto;
  }
  .welcome-text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.15px;
    margin: 0.5em;
  }
  .caseStudyEnlarge {
    display: none;
  }
  .caseStudySmall {
    display: block;
    margin: 0.4em auto;
    width: 90%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    justify-items: center;
  }
  .contactSection {
    width: 90%;
  }
  .caseStudySmall .instyleCover,
  .forbesCover {
    width: 100%;
  }
  .caseStudySmall .caseStudy {
    margin-top: 3em;
  }
  .contactContent {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */